#container{

width: 700px;
height: 100%;
background: black; 
margin: auto;
border: 1px solid gray;


}

#paraabout{

    display: inline;
}

#about{


    height: 250px;
    background: white;
}

#aboutright{
    float: right;
    height: 200px;
    width: 450px;
    display: inline;
    padding: 20px;

    
    }
    #aboutleft{
        margin-top: 30px;
        float: left;
        height: 200px;
        width: 200px;
        background: url("face.jpg");
        
    }
    #nav{
        height: 80px;
        background: black;
        display: inline;
        
        
    }

#nav{
    height: 80px;
    background: black;
    display: inline;
    
    
}

#nav a{

    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: white;
    
}

#nav a:hover{

    color:brown;
}

#home{


    height: 200px;
    background: white;
     font-family: 'Nunito Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    
    color: white;
}

#floatleft{
    float: left;
    color: blue;
    width: 300px;
    background: brown;
    height: 300px;
}

#floatright{
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-top: 50px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
}



#work{


    height: 300px;
    background: white;
    background-image: url("logo.png") ;
    margin: 20px;
}
#para{

    display: inline;
}

#jet{

    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 4em;
    color: brown;
    
   padding-left: 400px;
   padding-top: 200px;
  
   
}

#contact{

    height: 350px;
    background: white;
    padding: 20px;
}



form{

    border: 2px dashed gray;
    padding: 10px;
   
  
}

#cont{

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
   display: inline;

}

#footer{
  color: white;
    height: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    text-align: center;
    background: black;
 
    
}

#parafooter{

    display: inline;
}